In [34]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\rakes\anaconda3\lib\site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rakes\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [35]:
import yfinance as yf

In [36]:
import pandas as pd
import numpy as np

In [37]:
tick="^NSEI"

In [38]:
data=yf.download(tick,start="2023-04-01",end="2024-03-31")

[*********************100%%**********************]  1 of 1 completed

In [39]:
df=pd.DataFrame(data)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200
2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300
2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700
2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800
2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300
...,...,...,...,...,...,...
2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200
2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700
2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400
2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100
2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500

In [40]:
countmondays=0
countfridays=0
i1=0
i2=0
while(i1<243):
    countmondays=countmondays+1
    i1=i1+5
countmondays

49

In [41]:
countfridays=48

In [42]:
l1=countmondays
l2=countfridays
arr1=[0.0]*l1
arr2=[0.0]*l2

In [43]:
df["dailyreturns"]=(df["Close"]/df["Open"]-1)*100
df

,Open,High,Low,Close,Adj Close,Volume,dailyreturns
Date,,,,,,,
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,-0.171555
2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300,0.773434
2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700,0.372427
2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800,-0.061524
2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300,0.098843
...,...,...,...,...,...,...,...
2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200,0.100268
2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700,0.750270
2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400,0.258789
2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100,0.316048
2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500,0.736797

In [46]:
index1=0
index2=0
ans1=0
ans2=0
while(ans1<243):
    arr1[index1]=df["dailyreturns"][ans1]
    ans1=ans1+5
    index1=index1+1
arr1

C:\Users\rakes\AppData\Local\Temp\ipykernel_40556\2086151604.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arr1[index1]=df["dailyreturns"][ans1]

[-0.17155453647886842,
 0.2975841564123227,
 -0.08022400268941077,
 0.5723381899315427,
 -0.26660031664312855,
 0.2246434434639788,
 0.09485239937800927,
 0.7131832896578816,
 -0.09029236047245481,
 -0.4958216867757437,
 0.5485102223687255,
 -0.40737499748588757,
 0.39514083729508265,
 -0.2291155553636015,
 0.5063128017438911,
 -0.3853447353362238,
 0.44467414447524334,
 0.10446610298935344,
 0.2610487776714354,
 -0.10635157176115406,
 -0.1661908061181494,
 0.052390407164715214,
 -0.5815529451710155,
 -0.3971302847740943,
 0.4043297457671846,
 0.12242892504161773,
 -0.14477957029612742,
 0.40674949950745276,
 0.6260318298884071,
 -0.05405327490775047,
 0.3798086564521075,
 -0.18828294290763603,
 0.22700741629735344,
 0.22201662693726032,
 -0.5335781319663835,
 -0.11430850583505903,
 0.7307757197666076,
 -0.6636320528150108,
 0.4152407846791606,
 -0.34785379782651393,
 -0.47542252876827673,
 0.1881962670915005,
 0.2554425369356128,
 0.09263469060953877,
 -0.3467957884701667,
 1.3173315333079971,
 -0.8209153297435323,
 0.29831428934061766,
 0.2587893471088565]