In [9]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\rakes\anaconda3\lib\site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rakes\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [10]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
tick="WIPRO.NS"

In [12]:
data=yf.download(tick,start="2023-04-01",end="2024-03-31")
df=pd.DataFrame(data)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,367.950012,368.399994,365.149994,367.950012,367.166962,2026750
2023-04-05,369.700012,371.899994,367.200012,369.750000,368.963135,3221555
2023-04-06,369.000000,370.450012,365.850006,366.649994,365.869720,3214807
2023-04-10,368.000000,374.399994,367.600006,373.299988,372.505554,2812470
2023-04-11,373.500000,374.850006,368.600006,370.250000,369.462067,3392177
...,...,...,...,...,...,...
2024-03-21,499.649994,505.299988,498.450012,500.450012,500.450012,5822290
2024-03-22,489.250000,490.750000,479.549988,487.100006,487.100006,14323251
2024-03-26,486.000000,490.950012,479.049988,479.850006,479.850006,9136673
2024-03-27,479.700012,480.950012,471.250000,472.299988,472.299988,7160334
2024-03-28,476.700012,483.049988,475.299988,480.100006,480.100006,7727575

In [15]:
df2=pd.DataFrame()

In [17]:
x=len(df)

In [21]:
df2["Close"]=0.25*(df["Close"]+df["High"]+df["Low"]+df["Open"])

In [22]:
df2["Open"]=0
for index in range(1,x):
    df2["Open"][index]=0.5*(df["Open"][index-1]+df["Close"][index-1])

C:\Users\rakes\AppData\Local\Temp\ipykernel_22628\1653497039.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["Open"][index]=0.5*(df["Open"][index-1]+df["Close"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_22628\1653497039.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Open"][index]=0.5*(df["Open"][index-1]+df["Close"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_22628\1653497039.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df2["Open"][index]=0.5*(df["Open"][index-1]+df["Close"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_22628\1653497039.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '367.95001220703125' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2["Open"][index]=0.5*(df["Open"][index-1]+df["Close"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_22628\1653497039.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["Open"][index]=0.5*(df["Open"][index-1]+df["Close"][index-1])

In [38]:
for index in range(0,x):
    df2["High"][index]=max(df2["Close"][index],df2["Open"][index])
    df2["High"][index]= max(df["High"][index],df2["High"][index])
def max(a,b):
    if(a>=b):
        return a
    else:
        return b

C:\Users\rakes\AppData\Local\Temp\ipykernel_22628\2803886448.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["High"][index]=max(df2["Close"][index],df2["Open"][index])

TypeError: max() missing 1 required positional argument: 'c'

In [39]:
list2=[df2["Open"],df2["Close"],df["Low"]]
df2["Low"]=np.min(list2)

In [40]:
df2

                 Close        Open        High  Low
Date
2023-04-03  367.362503    0.000000  545.900024  0.0
2023-04-05  369.637505  367.950012  545.900024  0.0
2023-04-06  367.987503  369.725006  545.900024  0.0
2023-04-10  370.824997  367.824997  545.900024  0.0
2023-04-11  371.800003  370.649994  545.900024  0.0
...                ...         ...         ...  ...
2024-03-21  500.962502  494.774994  545.900024  0.0
2024-03-22  486.662498  500.050003  545.900024  0.0
2024-03-26  483.962502  488.175003  545.900024  0.0
2024-03-27  476.050003  482.925003  545.900024  0.0
2024-03-28  478.787498  476.000000  545.900024  0.0

[243 rows x 4 columns]